In [125]:
####Sales of products in four different regions is tabulated for males and females.  
import pandas as pd
import numpy as np
import scipy 
from scipy import stats
from scipy.stats import chisquare

br = pd.read_csv ("~/desktop/Digi 360/Module 5/Datasets-2/BuyerRatio.csv")
br.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [126]:
br1 = br.rename(columns = {'Observed Values':'obv'})
br1.head()

       obv  East  West  North  South
0    Males    50   142    131     70
1  Females   435  1523   1356    750

In [127]:
print(br1)

       obv  East  West  North  South
0    Males    50   142    131     70
1  Females   435  1523   1356    750

In [128]:
br1 = br1.set_index('obv').rename_axis('Region', axis=1)
br1

Region   East  West  North  South
obv
Males      50   142    131     70
Females   435  1523   1356    750

In [129]:
###Getting p value by Chi Sqaure Test. Since the output is descrete and four samples.
from scipy.stats import chi2_contingency
chi2_results = scipy.stats.chi2_contingency(br1)
Chi_square=[['', 'Test statistic','p-value'],['sample data',chi2_results[0], chi2_results[1]]]
Chi_square

[['', 'Test statistic', 'p-value'],
 ['sample data', 1.595945538661058, 0.6603094907091882]]