In [7]:
####Determine whether there is any difference in average TAT among the different laboratories.
import pandas as pd
import numpy as np
import scipy 
from scipy import stats
import statsmodels.api as sm
from statsmodels.formula.api import ols

labs = pd.read_csv ("~/desktop/Digi 360/Module 5/Datasets-2/LabTat.csv")
labs.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [11]:
labs1 = labs.rename(columns = {'Laboratory 1':'lab1', 'Laboratory 2':'lab2', 
                              'Laboratory 3':'lab3', 'Laboratory 4':'lab4'})
labs1.head()

     lab1    lab2    lab3    lab4
0  185.35  165.53  176.70  166.13
1  170.49  185.91  198.45  160.79
2  192.77  194.92  201.23  185.18
3  177.33  183.00  199.61  176.42
4  193.41  169.57  204.63  152.60

In [14]:
###Normality Test#############

a = pd.Series(labs1.lab1).dropna()
print("p value for lab 1:", stats.shapiro(a))

b = pd.Series(labs1.lab2).dropna()
print("p value for lab 2:", stats.shapiro(b))

c = pd.Series(labs1.lab3).dropna()
print("p value for lab 3:", stats.shapiro(c))

d = pd.Series(labs1.lab4).dropna()
print("p value for lab 4:", stats.shapiro(d))

p value for lab 1: (0.9901824593544006, 0.5506953597068787)
p value for lab 2: (0.9936322569847107, 0.8637524843215942)
p value for lab 3: (0.9886345267295837, 0.4205053448677063)
p value for lab 4: (0.9913753271102905, 0.6618951559066772)

In [5]:
###Variance Test between all 4 lab units #############
print(scipy.stats.levene(a,b))
print(scipy.stats.levene(b,c))
print(scipy.stats.levene(c,d))
print(scipy.stats.levene(d,a))

LeveneResult(statistic=3.5495027780905763, pvalue=0.06078228171776711)
LeveneResult(statistic=0.9441465124387124, pvalue=0.33220021420602397)
LeveneResult(statistic=2.037958464521512, pvalue=0.15472618294425391)
LeveneResult(statistic=1.5000140718506723, pvalue=0.22188001348277267)

In [15]:
####one way ANOVA Test#######
mod = ols('lab1~lab2+lab3+lab4',data=labs1).fit()
aov_table=sm.stats.anova_lm(mod, type=2)
print(aov_table)

             df        sum_sq     mean_sq         F    PR(>F)
lab2        1.0    332.030416  332.030416  1.940311  0.166299
lab3        1.0    203.853111  203.853111  1.191271  0.277335
lab4        1.0    265.614707  265.614707  1.552192  0.215323
Residual  116.0  19850.186366  171.122296       NaN       NaN