In [1]:
####A F&B manager wants to determine whether there is any significant difference in the diameter of the 
#cutlet between two units. 
import pandas as pd
import numpy as np
import scipy 
from scipy import stats
import statsmodels.api as sm
cutlet = pd.read_csv ("~/desktop/Digi 360/Module 5/Datasets-2/Cutlets.csv")
cutlet.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [2]:
###Rename Columns#######
cutlet1 = cutlet.rename(columns = {'Unit A':'unita', 'Unit B':'unitb'})
cutlet1.head()

    unita   unitb
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [3]:
###Normality Test#############
a = pd.Series(cutlet1.unita).dropna()
print("p value for unit A:", stats.shapiro(a))

b = pd.Series(cutlet1.unitb).dropna()
print("p value for unit B:", stats.shapiro(b))

p value for unit A: (0.9649458527565002, 0.3199819028377533)
p value for unit B: (0.9727300405502319, 0.5224985480308533)

In [4]:
####Variance test######
scipy.stats.levene(a,b)

LeveneResult(statistic=0.665089763863238, pvalue=0.4176162212502553)

In [5]:
# Here p value is greater than 0.05. So fail to reject H0. That means variances are equal.
#since variances are equal, will go with 2 sample T test
stats.ttest_ind(a,b)

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)