In [1]:
####Defect% varies by center out of 4 centers 
import pandas as pd
import numpy as np
import scipy 
from scipy import stats
from scipy.stats import chisquare

cof = pd.read_csv ("~/desktop/Digi 360/Module 5/Datasets-2/CustomerOrderform.csv")
cof.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [100]:
###Stacking the dataframe
stack = cof.stack().rename_axis(('sno', 'country')).reset_index(name='val')
print(stack)

      sno       country         val
0       0  Phillippines  Error Free
1       0     Indonesia  Error Free
2       0         Malta   Defective
3       0         India  Error Free
4       1  Phillippines  Error Free
...   ...           ...         ...
1195  298         India  Error Free
1196  299  Phillippines  Error Free
1197  299     Indonesia   Defective
1198  299         Malta   Defective
1199  299         India  Error Free

[1200 rows x 3 columns]

In [108]:
###Getting p value by Chi Sqaure Test. Since the output is descrete and four samples.
table = pd.crosstab(stack.val,stack.country)
print(table)
from scipy.stats import chi2_contingency
chi2_results = scipy.stats.chi2_contingency(table)
Chi_square=[['', 'Test statistic','p-value'],['sample data',chi2_results[0], chi2_results[1]]]
Chi_square

country     India  Indonesia  Malta  Phillippines
val
Defective      20         33     31            29
Error Free    280        267    269           271

[['', 'Test statistic', 'p-value'],
 ['sample data', 3.858960685820355, 0.2771020991233135]]